.videos-box {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    background-color: cornsilk;
    background-size: cover;
    padding-left: 10px;
    padding-top: 10px;
}

.videos-and-subscribers-container {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.data-text {
    font-family: roboto;
    font-size: 15px;
    color: black;
}

.data-containers {
    display: flex;
    justify-content: space-between;
    width: 350px;
}